[Unit]
Description=Serial Keyboard Driver

[Service]
ExecStart=INST/start.sh INST/serial_keyboard_lib.main.so /dev/%i /dev/uinput

[Install]
WantedBy=multi-user.target
