[Unit]
Description=Serial Keyboard Driver

[Service]
ExecStart=lua5.4 INST/serial_keyboard.lua INST/serial_keyboard_lib.main.so /dev/%i /dev/uinput INST/baud

[Install]
WantedBy=multi-user.target
